@import '../../styles/colors.scss';

.roadmap_container {
  padding: 58px 70px;
  padding-bottom: 0;
}

.vertical_lines {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 0;

  .rcm_dark_blue {
    width: 3px;
    background-color: $dark-blue;
  }

  .rcm_yellow {
    width: 3px;
    background-color: $yellow;
  }

  .rcm_red {
    width: 3px;
    background-color: $orange-red;
  }

  .rcm_orange {
    width: 3px;
    background-color: $orange-light;
  }

  .rcm_light_blue {
    width: 3px;
    background-color: $blue-light;
  }
}

.general {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  column-gap: 60px;
  margin: 35px 0;
}

.general:nth-child(even) {
  flex-direction: row-reverse;

  .period_general {
    text-align: right;
  }

  .container_corner {
    flex-direction: row-reverse;
  }

  &.upcoming {
    .container {
      &.corner {
        border-right: solid 0px $white;
        border-top: solid 0px $white;
        border-left: solid 2px $orange-red;
        border-bottom: solid 2px $orange-red;
      }
    }
  }

  &.future {
    .container {
      &.container_general {
        background:
          linear-gradient(var(--background), var(--background)) padding-box,
          // linear-gradient(to right, $blue-blue 25%, $orange 49%, $yellow 75%) border-box;
          linear-gradient(to right, $blue-light 25%, $orange-red 49%, $yellow 75%) border-box;
        border: 2px solid transparent;
      }

      &.corner {
        border-right: solid 0px $white;
        border-top: solid 0px $white;
        border-left: solid 2px $blue-light;
        border-bottom: solid 2px $blue-light;
      }
    }
  }
}

.container_corner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container_general {
  border-radius: 15px;
  padding: 32px 30px;
  width: 444px;

  .title_general {
    font-family: Gotham Medium;
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 15px;
  }

  .bullets_general {
    font-family: Bariol;
    font-size: 18px;
    line-height: 1.33;
  }

  .bullet_list_general {
    list-style-type: disc;
    padding-left: 15px;
  }
}

.corner_general {
  border-radius: 0 5px;
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  margin: -20px;
}


.state_btn_general {
  font-family: Gotham Medium;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 100px;
  background-color: var(--background);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  width: 97px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.period_general {
  font-family: Gotham Medium;
  font-size: 20px;
  width: 444px;
}

.done {

  .container {
    color: $white;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border: solid 2px $orange-red;
    background-color: $orange-red;
  }

  .state_button {
    color: $white;
    border: solid 4px $white;
    background-color: $orange-red;
  }
}

.upcoming {

  .container {
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border: solid 2px $orange-red;
  }

  .corner {
    border-left: solid 0px $white;
    border-bottom: solid 0px $white;
    background-color: var(--background);
  }

  .state_button {
    border: solid 4px $orange-red
  }
}

.future {

  .container {
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    background:
      linear-gradient(var(--background), var(--background)) padding-box,
      // linear-gradient(to right, $yellow 25%, $orange 49%, $light-blue 75%) border-box;
      linear-gradient(to right, $yellow 25%, $orange-light 49%, $blue-light 75%) border-box;
    border: 2px solid transparent;
  }

  .corner {
    border-left: solid 0px $white;
    border-bottom: solid 0px $white;
    border-right-color: $blue-light;
    border-top-color: $blue-light;
  }

  .state_button {
    background:
      linear-gradient(var(--background), var(--background)) padding-box,
      // linear-gradient(to right, $yellow 25%, $orange 49%, $light-blue 75%) border-box;
      linear-gradient(to right, $yellow 25%, $orange-light 49%, $blue-light 75%) border-box;
    border: 4px solid transparent;
  }
}

.extendedBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 72px;

  .extendedBtn {
    width: 470px;
    height: 49px;
    border-radius: 5px;
    background: $orange-red;
    color: $white;
    font-family: 'Bariol';
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width:1300px) {

  .general_mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 70px;
    margin: 38px 0;

    .period_container_mobile_general {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      row-gap: 7px;
      margin-bottom: 37px;

      .container_corner {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
      }
    }
  }

  .upcoming {

    .corner {
      border-right: solid 0px $white;
      border-top: solid 0px $white;
      border-left: solid 2px $orange-red;
      border-bottom: solid 2px $orange-red;
    }
  }

  .future {

    .container {
      -webkit-backdrop-filter: blur(6px);
      backdrop-filter: blur(6px);
      background:
        linear-gradient(var(--background), var(--background)) padding-box,
        linear-gradient(to right, $blue-light 25%, $orange-light 49%, $yellow 75%) border-box;
      border: 2px solid transparent;
    }

    .corner {
      border-right: solid 0px $white;
      border-top: solid 0px $white;
      border-left: solid 2px $blue-light;
      border-bottom: solid 2px $blue-light;
    }
  }
}

@media (max-width:813px) {

  .roadmap_container {
    padding: 10px 0px;
  }

  .general_mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 50px;
    margin: 38px 0;

    .period_container_mobile_general {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      row-gap: 7px;
      margin-bottom: 25px;

      .container_corner {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
      }
    }
  }

  .state_btn_general {
    width: 73px;
    height: 32px;
    font-size: 10px;
  }

  .period_general {
    font-size: 12px;
    width: 226px;
  }

  .container_general {
    padding: 10px 10px;
    width: 226px;

    .title_general {
      font-size: 16px;
      padding-bottom: 3px;
    }

    .bullets_general {
      font-size: 13px;
      line-height: 1.23;
    }
  }

  .corner_general {
    width: 20px;
    height: 20px;
    margin: -10px;
  }

  .extendedBtnContainer {
    .extendedBtn {
      width: 218px;
      font-family: 'Bariol';
      font-size: 12px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 370px) {
  .general_mobile {
    column-gap: 20px;
  }
}

@media screen and (max-width: 340px) {
  .state_btn_general {
    width: 60px;
    height: 28px;
    font-size: 8px;
  }

  .general_mobile {
    column-gap: 10px;
    justify-content: space-between;
  }

  .period_general {
    width: 200px;
  }

  .container_general {
    padding: 10px 10px;
    width: 200px;
  }
}

@media screen and (max-width: 290px) {
  .period_general {
    width: 190px;
  }

  .container_general {
    width: 190px;
  }
}