@import '../../styles/colors.scss';

.community_modal {
  position: absolute;
  height: fit-content;
  max-height: 100%;
  max-width: 1379px;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 25px 40px;
  border-radius: 8px;
  background: var(--background);
  overflow-y: auto;

  .close {
    position: absolute;
    right: 2%;
    top: 30px;
    cursor: pointer;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
      font-family: 'Gotham Ultra';
      letter-spacing: 1px;
      line-height: 1;
      font-size: 62px;
      font-weight: 900;
      color: var(--font-color);
    }

  }

  .description {
    color: var(--background);
    font-family: Bariol;
    font-size: 18px;
  }

  .main_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .content {
      max-width: 680px;
      margin-top: 10px;
      font-family: Bariol;
      font-size: 18px;
      line-height: 1.33;
      color: #FFF;

      .text_section {
        margin-bottom: 25px;
      }

      .title_section {
        font-weight: bold;
        margin-bottom: 5px;
      }
    }
  }
}

.item_a {
  border: solid 2px #e83324;
}

.item_b {
  border: solid 2px #f2957c;
}

.item_c {
  border: solid 2px #7192f3;
}

.item_d {
  border: solid 2px #f2957c;
}

.item_e {
  border: solid 2px $orange-red;
}

.item_f {
  border: solid 2px #f2957c;
}

.item_g {
  border: solid 2px #e83324;
  background-color: #e83324;
}

@media screen and (max-width: 1300px) {
  .community_modal {
    padding-left: 25px;
    padding-right: 25px;
  }
}


@media (max-width:1024px) {
  .community_modal {
    height: 100%;

    &.memberModal {
      height: fit-content;
    }

    &.item_b {
      padding-bottom: 0;
      height: fit-content;
    }
  }
}

@media screen and (max-width: 480px) {
  .community_modal {
    padding: 20px 16px;

    &.item_c {
      padding-bottom: 0;
      height: fit-content;
    }

    .close {
      right: 1%;
      top: 1%;
    }

    .header {
      .title {
        font-size: 30px;
        margin-top: 0px;
      }

    }
  }
}