.builtStatus {
  margin: 0 auto;
  width: fit-content;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.builtLabel {
  font-family: 'Gotham Medium';
  font-size: 40px;
  font-weight: 900;
  line-height: normal;
  color: var(--font-color);
  text-transform: uppercase;
}

.builtContent {
  display: flex;
  margin-top: 60px;
  align-items: flex-start;

  .builtItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 60px;

    &:last-child {
      margin-right: 0;
    }

    .builtItemText {
      max-width: 140px;
      font-family: 'Bariol';
      font-size: 18px;
      font-weight: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: var(--font-color);
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .builtStatus {
    margin-top: 60px;
  }

  .builtLabel {
    font-size: 20px;
  }

  .builtContent {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .builtItem {
      margin-right: 0;
      margin-top: 40px;

      .builtItemText {
        font-size: 13px;
      }
    }
  }
}