@font-face {
    font-family: 'Gotham Ultra';
    src: url('../../public/fonts/Gotham-Ultra.ttf');
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../../public/fonts/Gotham-Medium.ttf');
}

@font-face {
    font-family: 'Bariol';
    src: url('../../public/fonts/Bariol-Regular.ttf');
}