@tailwind base;
@tailwind components;
@tailwind utilities;
@import './fonts.scss';
@import './colors.scss';
@import './trailer.scss';

* {
  user-select: none;
}

*::selection {
  background: none;
}

*::-moz-selection {
  background: none;
}


[data-theme='light'] {
  --background: #fff;
  --font-color: #1b1628;


  --background-com-card: #1b1628;
  --font-color-com-card: #fff;

  --header-nav-background: #fff;

  --team-card-personinfo-background: #1b1628;
  --font-color-team-card-personinfo: #fff;

  --nav-dropdown-hover-background: #1b1628;
  --nav-dropdown-hover-color: #fff;
}

[data-theme='dark'] {
  --background: #1b1628;
  --font-color: #fff;

  --background-com-card: #fff;
  --font-color-com-card: #1b1628;

  --header-nav-background: #1b1628;

  --team-card-personinfo-background: #fff;
  --font-color-team-card-personinfo: #1b1628;

  --nav-dropdown-hover-background: #fff;
  --nav-dropdown-hover-color: #1b1628;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Bariol, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: var(--background);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.nav-dropdown-menu {
  display: flex;
  flex-direction: column;
  top: 28px;
  right: -8px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.21);
  border: solid 1px #fe0102;
  background-color: var(--background);
  border-radius: 5px;

  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: 0.2s ease-in;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: 0.2s ease-in;
  }
}

.nav-dropdown-menu-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  padding-right: 20px;
  font-family: 'Bariol';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--font-color);
  border-bottom: 1px solid #fe0102;

  &:hover {
    background-color: var(--nav-dropdown-hover-background);
    color: var(--nav-dropdown-hover-color);
  }

  &__spacer {
    width: 6px;
  }

  &__text {
    padding: 0px 2px;
  }

  &:last-child {
    border-bottom: none;
  }
}