@import 'src/styles/colors.scss';

.slider {
  width: 400px;
  max-height: 490px;
  text-align: center;
  overflow: hidden;
}



.slides {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;


  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides {
  .sliderItem {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 400px;
    height: 430px;
    margin-right: 50px;
    border-radius: 10px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    // display: flex;
    // justify-content: center;
    // align-items: center;
    font-size: 100px;

    img {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      object-fit: cover;
      // position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 400px;
    }
  }

  .sliderDesc {
    background: #e83324;
    // position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: 'Gotham Medium';
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;

    span {
      font-family: 'Bariol';
      font-weight: normal;
    }
  }
}

.slider>span {
  display: inline-flex;
  width: 8px;
  height: 8px;
  background: $orange-red;
  color: $orange-red;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0.5rem;
  position: relative;
  cursor: pointer;
}

.slider>span:active {
  top: 1px;
}

.slider>span:focus {
  background: #000;
}

@media screen and(max-width: 480px) {
  .slider {
    width: 284px;
    max-height: 340px;
  }

  .slides {
    .sliderItem {
      width: 284px;
      height: 314px;

      img {
        height: 284px;
      }
    }

    .sliderDesc {
      font-size: 13px;
      height: 30px;
    }
  }
}


/* Don't need button navigation */
// @supports (scroll-snap-type) {
//   .slider>span {
//     display: block;
//   }
// }