@import 'src/styles/colors.scss';

.headerContainer {
  position: absolute;
  top: 0;
  width: 100%;
}

.header {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 21px 21px;
  // padding-right: 90px;
  height: 92px;
  display: flex;
  justify-content: space-between;
  z-index: 99;

  .navbar {
    display: flex;
    align-items: center;
    padding: 11px 19px;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border: solid 1px rgba(255, 255, 255, 0.13);
    background-color: var(--header-nav-background);
    // background-color: white;

    a {
      font-size: 16px;
      color: var(--font-color);
      cursor: pointer;

      &.soonPage {
        position: relative;

        div.soonBadge {
          color: white;
          background: $orange-red;
          border-radius: 16px;
          position: absolute;
          font-size: 8px;
          font-family: 'Gotham Medium';
          // width: 100%;
          width: calc(100% - 30px);
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 1;
          left: 22px;
          height: 12px;
          bottom: -12px;
        }
      }
    }

    span {
      padding: 0 8px;
      color: $yellow;
    }

    .icons {
      display: flex;
      margin-left: 10px;
      align-items: center;

      a {
        padding: 0 3px;
        width: 23px;
      }
    }

    .themeSwitch {
      display: flex;
      align-items: center;
      margin-left: 10px;
    }

    &.darkPage {
      background-color: $dark-blue;

      a {
        color: $white !important;
      }
    }

    &.inceptionPage {
      background-color: transparent;
      -webkit-backdrop-filter: blur(6px);
      backdrop-filter: blur(6px);

      &.dark {
        a {
          color: $white !important;
        }
      }

      &.light {
        a {
          color: $dark-blue !important;
        }
      }
    }
  }

  // styles navbar mobile
  .navbar-mobile {
    display: flex;

    button {
      z-index: 12;

      img {
        width: 23px;
      }
    }

    // container glass
    .container-glass {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(6px);
      min-height: 100vh;
      height: fit-content;
      position: fixed;
      top: 0px;
      left: 0;
      z-index: 10;

      // container principal options
      .container-options {
        background-color: var(--background);
        color: var(--font-color);
        width: 75%;
        height: 100vh;
        border-radius: 0 8px 8px 0;
        border: solid 2px $orange-red;
        box-shadow: 5px 0 6px 0 rgba(0, 0, 0, 0.21);
        overflow-y: scroll;
        padding-bottom: 15px;

        // container brand
        .container-brand {
          padding: 20px 10px;
          padding-bottom: 0px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          img {
            width: 122px;
          }

          .themeSwitch {
            line-height: 1;
          }
        }

        // styles links options
        .container-links {
          margin-right: 61px;

          .container-options-links {
            margin-top: 18px;

            a {
              display: block;
              margin: 0px 0px 0px 42px;
              padding: 8px 0px;
              font-size: 22px;
              line-height: 1.33;
              position: relative;

              span.soonBadge {
                font-family: 'Gotham Medium';
                font-size: 14px;
                font-weight: 500;
                color: #fff;
                background: $orange-red;
                border-radius: 10px;
                position: absolute;
                padding: 2px;
                right: 0;
                top: 16px;
              }

              .line-gradient {
                background: linear-gradient(to right, #f9c930 25%, #f2957c 49%, #7192f3 75%);
                height: 2px;
                margin-top: 6px;
                width: 100%;
              }

              &.langMobDropDownContainer {
                text-transform: uppercase;

                .langMenuItem {
                  // display: flex;
                  // justify-content: space-between;
                  // align-items: center;
                  width: 100%;
                  padding-left: 0 !important;
                  padding-right: 0 !important;
                  margin-left: 0 !important;
                  margin-right: 0 !important;
                }

                .arrowWrapper {
                  transition: all 0.2s ease-in-out;

                  &.expanded {
                    transform: rotate(180deg);
                  }
                }

                .langMobItem {
                  padding-top: 12px;
                  padding-left: 27px;
                  font-size: 20px;
                }
              }
            }
          }
        }

        // icons at end the menu
        .icons {
          align-items: center;
          display: flex;
          margin-left: 40px;
          margin-top: 29px;

          a {
            padding: 0 3px;
            margin-right: 12px;

            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .slide-left {
        animation: slideLeft 250ms;
      }
    }
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-400px);
  }

  100% {
    transform: translateX(0px);
  }
}

@media screen and (max-width: 1100px) {
  .header {
    .navbar {
      span {
        padding: 0 4px;
      }

      .icons {
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 16px;
    // padding-right: 70px;
    height: 82px;
    align-items: center;

    .navbar {
      display: none;
    }

    .headerLogo {
      width: 185px;
    }
  }
}

@media screen and (min-width: 1025px) {
  .header {
    .navbar-mobile {
      display: none;
    }
  }
}