@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  height: 230px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

// .slider::before,
// .slider::after {
//   content: '';
//   height: 100px;
//   position: absolute;
//   width: 200px;
//   z-index: 2;
// }

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slide {
  margin-right: 30px;

  img {
    width: 230px;
    height: 230px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 600px) {
  @-webkit-keyframes scroll {
    100% {
      -webkit-transform: translateX(calc(-80px * 7));
      transform: translateX(calc(-80px * 7));
    }
  }

  @keyframes scroll {
    100% {
      -webkit-transform: translateX(calc(-80px * 7));
      transform: translateX(calc(-80px * 7));
    }
  }

  .slider {
    height: 68px;
  }

  .slider .slide-track {
    width: calc(78px * 14);
  }

  .slide {
    margin-right: 10px;

    img {
      width: 68px;
      height: 68px;
    }
  }
}