@import '../../../styles/colors.scss';

.galleryFilter {
  width: 100%;
  background:
    linear-gradient(var(--background), var(--background)) padding-box,
    linear-gradient(to right, $yellow 25%, $orange-light 49%, $blue-light 75%) border-box;
  border-bottom: 1px solid transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}

.collapseBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .filterLabel {
    display: flex;
    align-items: center;

    & span {
      font-family: 'Gotham Medium';
      font-size: 14px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #1b1628;
      text-transform: uppercase;
      margin-left: 5px;
    }
  }
}

.filterItems {
  margin-top: 20px;
}

.checkboxContainer {
  margin-top: 6px;

  &:first-child {
    margin-top: 0;
  }
}