@import 'src/styles/colors.scss';

.manifestoContainer {
  font-family: 'Bariol';
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  display: flex;
  margin-top: 20px;

  .leftCol {
    width: 630px;
    max-width: 100%;

    .subTitle {
      font-family: 'Gotham Medium';
      font-size: 22px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    .item {
      padding: 10px 20px;
      color: #fff;
      margin-bottom: 15px;
      border-radius: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &.backOrangeRed {
        background: $orange-red;
      }

      &.backOrangeLight {
        background: $orange-light;
      }

      &.backBlue {
        background: $blue-light;
      }

      &.backBlack {
        background: #000;
      }

      &.backDarkBlue {
        background: var(--background-com-card);
        color: var(--font-color-com-card);
      }

      &.backYellow {
        background: $yellow;
      }
    }
  }

  .rightCol {
    img {
      width: 33%;
      max-width: 500px;
      position: absolute;
      bottom: 0;
      right: 30px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .manifestoContainer {
    .rightCol {
      img {
        right: 10px;
      }
    }
  }

}

@media screen and (max-width: 1024px) {
  .manifestoContainer {
    font-size: 13px;
    line-height: 1.23;
    flex-direction: column;
    padding-bottom: 0;

    .leftCol {
      .subTitle {
        font-size: 16px;
        // margin-bottom: ;
      }
    }

    .rightCol {
      width: 100%;

      img {
        position: unset;
        width: 260px;
        float: right;
        margin-top: 70px;
      }
    }
  }
}