.teamMemberModal {
  display: flex;
  flex-direction: column;
  align-items: center;

  .teamDescription {
    width: 100%;
    margin-top: 25px;
    font-family: 'Bariol';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--font-color);

  }

  .memberImg {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 234px;
    height: 234px;
    position: relative;
  }

  .memberInfo {
    color: var(--font-color);
  }

  .fullName {
    font-family: 'Gotham Medium';
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 10px;
  }

  .subInfo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .role {
    margin-left: 10px;
    line-height: 1;
  }

  .bio {
    font-family: 'Bariol';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
  }

  .closeBtn {
    width: 124px;
    height: 33px;
    border-radius: 5px;
    background-color: #e83324;
    margin-top: 30px;
  }
}