@import 'src/styles/colors.scss';

.team_card {
  border-radius: 8px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  position: relative;
  width: 200px;
  height: 200px;
  cursor: pointer;

  .photo {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .personal_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--team-card-personinfo-background);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    .full_name {
      font-family: 'Gotham Medium';
      font-size: 12px;
      color: var(--font-color-team-card-personinfo);
      text-transform: uppercase;
      padding-top: 5px;
      line-height: 0.9;
      letter-spacing: -0.5px;
    }

    .role {
      font-family: 'Bariol';
      font-size: 12px;
      color: var(--font-color-team-card-personinfo);
      padding: 0px 0;
    }

    .bio_description {
      font-family: 'Bariol';
      font-size: 16px;
      color: var(--font-color);
      padding: 10px 0;
      background-color: var(--background);
    }
  }
}


@media screen and (max-width: 480px) {
  .team_card {
    width: 170px;
    height: 170px;

    .personal_info {
      padding: 3px 10px;
      width: 100%;

      .full_name {
        font-size: 11px;
      }

      .role {
        font-size: 10px;
      }

      .contact {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 410px) {
  .team_card {
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-width: 390px) {
  .team_card {
    .personal_info {
      padding: 3px 5px;
      width: 100%;
    }
  }
}