.teamMemberContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .memberImg {
    height: 300px;
    width: 100%;
    max-width: 300px;
    position: relative;
  }

  .memberInfo {
    color: var(--font-color);

    .fullName {
      margin-top: 24px;
      margin-bottom: 7px;
      font-family: 'Gotham Medium';
      font-size: 24px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-transform: uppercase;
    }

    .subInfo {
      display: flex;
      align-items: center;
    }

    .role {
      font-family: 'Bariol';
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 1250px) {
  .teamMemberContainer {
    max-width: 450px;

    .memberImg {
      width: 282px;
      height: 320px;
    }
  }
}