.rcmLabsContainer {
  font-family: 'Bariol';
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--font-color);

  // display: flex;
  .rcmLabsContent {
    display: flex;

    .leftCol {
      .rcmLabsDesc {
        margin-bottom: 26px;
        margin-top: 20px;
        max-width: 729px;
        font-size: 22px;
      }

      .storyTxt {
        max-width: 510px;
        margin-bottom: 26px;
        font-size: 18px;
      }
    }

    .rightCol {
      margin-top: 80px;

      img {
        position: absolute;
        bottom: 0;
        width: 517px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .rcmLabsContainer {
    font-size: 13px;

    .rcmLabsContent {
      margin-top: 38px;
      flex-direction: column;

      .leftCol {
        .rcmLabsDesc {
          margin-top: 0;
          font-size: 13px;
        }

        .storyTxt {
          font-size: 13px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .rightCol {
        margin-top: 0;

        img {
          position: unset;
          width: 244px;
          float: right;
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .rcmLabsContainer {
    .rcmLabsContent {
      .leftCol {
        max-width: 332px;
      }
    }
  }
}