.teamContent {
  display: flex;
}

.leftCol {
  max-width: fit-content;
}

.teamDescription {
  font-family: 'Bariol';
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;

  :first-child {
    margin-bottom: 10px;
  }
}

.team_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 36px;
  row-gap: 25px;
  margin-top: 15px;
  position: relative;
}

.bio_description {
  font-family: 'Bariol';
  font-size: 16px;
  color: var(--font-color);
  padding: 10px 0;
  background-color: var(--background);
  position: absolute;
  max-height: 250px;
  max-width: 183px;
  overflow: hidden;
  padding: 15px;
  border-radius: 8px;
  line-height: 1.3;
}

.rightCol {
  margin-top: -30px;
  margin-left: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1400px) {
  .rightCol {
    justify-content: end;
  }
}

@media screen and (max-width: 1300px) {
  .leftCol {
    max-width: 600px;
  }

  .team_grid {
    column-gap: 6px;
  }
}

@media screen and (max-width:1024px) {
  .team_grid {
    // grid-template-columns: repeat(2, 1fr);
    // column-gap: 14px;
    // row-gap: 14px;
    // margin: 35px 0;
    // justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .leftCol {
    width: 100%;
    max-width: 800px;
  }

  .teamDescription {
    font-size: 13px;
  }

  .rightCol {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .team_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 376px) {
  .team_grid {
    justify-content: center;
  }
}